<p>pensioner-detail works!</p>
<form (ngSubmit)="onSubmit()" method="GET" name="pension" id="pension">
    <label for="pensionerName">Name</label>
    <input type="text" class="form-control" name="pensionerName" [(ngModel)]="pensionDetails.pensionerName" placeholder="username" required=""/>
    <label for="pan">Pan</label>
    <input type="text" class="form-control" name="pan" [(ngModel)]="pensionDetails.pan" placeholder="pan" required=""/>
    <label for="aadharNumber">Adhaar</label>
    <input type="text" class="form-control" name="aadharNumber" [(ngModel)]="pensionDetails.aadharNumber" placeholder="adhar" required=""/>
    <label for="pensionerDob">DAte</label>
    <input type="text" class="form-control" name="pensionerDob" [(ngModel)]="pensionDetails.pensionerDob" placeholder="date" required=""/>
    <label for="pensionType">Pension type</label>
    <select name="typeOfPension" id="typeOfPension" [(ngModel)]="pensionDetails.pensionType">
        <option value="Family">Family pension</option>
        <option value="Self">Self pension</option>
    </select>
    <input type="submit" value="Submit"/>
</form>
{{pensionDetails | json}}
